* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Arial,
    sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(168, 168, 168, 0.6);
  color: black;
  padding: 2em 4em;
}

main {
  position: relative;
  min-height: 100vh;
}

.box {
  display: block;
  position: relative;
  background-color: red;
  width: 100px;
  height: 100px;
  /* rotate: 50deg; */
}

/* Psuedo classes */
.box::before {
  content: "";
  top: 0;
  left: 0;
  translate: -45px;
}

.box::after {
  content: "";
  top: 0;
  right: 0;
  translate: 45px;
}

.box::before,
.box::after {
  position: absolute;
  background-color: yellow;
  height: 80px;
  width: 80px;
  border-radius: 100px;
}
