* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Arial,
    sans-serif;
}
body {
  padding: 1rem 4rem;
}

div {
  display: block;
  position: relative;
  border: 0.3rem solid red;
  margin: 1rem 0;
  padding: 1rem;
  color: black;
}

button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(255, 255, 0, 0.6);
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgba(255, 255, 0, 1);
}

input {
  display: block;
  padding: 1rem;
  margin: 1rem 0;
}
