* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Arial,
    sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(168, 168, 168, 0.6);
  color: black;
  padding: 2em 4em;
}

main {
  position: relative;
  min-height: 100vh;
}

.clickButton {
  margin: 2em 0em;
  padding: 1em;
  border: 0.2em solid orange;
  border-radius: 1em;
  background-color: yellow;
  color: black;
  font-size: 1.2em;
}
.clickButton:hover {
  background-color: rgba(255, 255, 0, 0.85);
  box-shadow: 2em;
}

a {
  position: relative;
  margin: 4em;
  font-weight: bold;
}
a:visited {
  color: yellow;
}
